body {
  background-color: lightsteelblue;
}

a:visited {
  color: black;
}

#parrafo {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20pt;
  width: 1500px;
  height: 350px;
  border-radius: 40px;
  background-color: mintcream;
  padding: 20px;
  box-shadow: 0 0 20px rgb(121, 197, 245);
  margin: 0 auto;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 45pt;
}

h2 {
  font-family: "Special Elite", cursive;
  font-size: 35px;
  text-align: center;
}

.foto {
  float: right;
  width: 550px;
}
